.goods-container {
    width: 50%;
    margin: 10px auto;
    text-align: center;
  }

 
  .good{
    border-top: solid #EDD08D;
    margin-top: 10px;
    padding-top: 20px;
  }

  .main-box {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }
  .goods-auto{
    text-align: center;
    
  }
  
