.sign_in{
    width: 100%;
    background-color:  white;
    padding: 70px 0px;

    .sign_in_box{
        width: 880px;
        height: 700px;
       
        margin: auto;

        .login_area{
            width: 880px;
            height: 140px;
            
            padding-top: 60px;

            .login{
                margin: auto;
                font-size: 36px;
                line-height: 80px;
                text-align: center;
            }
        }

        .field_area{
            width: 550px;
            height: 200px;
            
            margin-left: 15%;

            .field{
                margin: 20px;
                padding: 20px;
                margin-right: 20%;


                
                .field_input{
                    width: 550px;
                    height: 45px;
                    background-color: #e9e9e9;
                    border: 0px none;

                    font-size: 13px;
                    text-align: start;

                    
                }
            }
        }
         .sub_area{
            width: 150px;
            height: 90px;
           
            

            .sub{
                background-color: pink;
                margin-left: 440px;
                
                
                .sub_input{
                    width: 40px;
                    height: 10px;
                    display: flex;
                    justify-content: center;
                    
                    font-size: 18px;
                    
                    
                    
                    
                    
                }
                
            }


        }


        .submit{
            width: 100%;
            height: 100px;
            

            .actions{
                



                .submit_button{
                    width: 550px;
                    height: 50px;
                    margin: auto;
                    margin-left: 20%;
                    background-color: lightblue;
                    border-radius: 100vh;
                    color: #fff;
                    text-align: center;
                    border: 0px none;
                    
                }
            }
        }
    }
}

.share{
    width: 100%;
    text-align: center;
    margin-top: 16px;
    

.share_text{
    text-decoration: none;
    line-height: 19px;
    font-size: 15px;
    color:black
}
}